VITE_API_BASE_URL=http://localhost:5294
VITE_GOOGLE_CLIENT_ID=
VITE_VIETMAP_API_KEY=
VITE_VIETMAP_TILE_STYLE_URL=https://maps.vietmap.vn/maps/styles/tm/style.json
VITE_LEAFLET_TILE_URL=https://maps.chotot.com/tile/{z}/{x}/{y}.png
